Policy details: 

<img width="798" height="1034" alt="Screenshot 2026-03-29 232904" src="https://github.com/user-attachments/assets/6a932771-fb36-4868-bca4-608ddaae6d4f" />
<img width="798" height="1034" alt="Screenshot 2026-03-29 232904" src="https://github.com/user-attachments/assets/c409d805-d765-4872-aee4-18f5fe6caa68" />

Iteration#1 Testing Output: 

<img width="1560" height="1077" alt="Screenshot 2026-03-29 234337" src="https://github.com/user-attachments/assets/1523329d-19e7-412e-9172-9bc36cb0384a" />
<img width="1560" height="1077" alt="Screenshot 2026-03-29 234401" src="https://github.com/user-attachments/assets/f127a197-f1b3-47ae-a8c6-f71ed513ad69" />
<img width="1560" height="1077" alt="Screenshot 2026-03-29 234401" src="https://github.com/user-attachments/assets/9a6ae54f-4b5e-41db-8cad-85be22f6974f" />

Iteration#2 Testing output after tightening the gaurdrail: 

<img width="1560" height="1077" alt="Screenshot 2026-03-30 000009" src="https://github.com/user-attachments/assets/48995850-ac1a-4257-8ae9-8eb1d4ffb6b7" />





