# Version 1 results for a real time accident claim
<img width="1558" height="1078" alt="image" src="https://github.com/user-attachments/assets/8fab242e-96e4-4b29-a801-08f59dae1c8f" />

# Version 2 results for the same real time accident claim
<img width="1558" height="1078" alt="image" src="https://github.com/user-attachments/assets/e7bd2002-b332-4fc4-a2f9-aab248b27e05" />
